- if flash[:error] then
  .error
    = flash[:error]
= form_tag transact_path do
  %fieldset
    %legend Your Phone Number:
    = text_field_tag :phonenumber, session[:phonenumber], :class => 'numberer texter'
  %fieldset
    %legend Your PIN Code:
    = password_field_tag :pincode, session[:pincode], :class => :texter
  %fieldset
    %legend Pick Your Bundle:
    %table
      %thead
        %th Bundle
        %th Shs.
        %th
      %tbody
        - @bundles.each do |bundle|
          %tr
            %td{:class => 'bundlename'}
              %input{:type => 'radio', :name => :bundle, :id => (%[bundle_%d] % [bundle.id]), :value => bundle.id}
              %label{'for' => (%[bundle_%d] % [bundle.id])}#{bundle.name}
            %td{:class => 'bundlecost'} #{number_with_delimiter(bundle.amount)}
            %td{:class => 'bundledescr'} #{bundle.descr}
  = submit_tag 'Buy Internet Credit'
