%table{:style => 'font-size: 200%; border: 1px solid #000; padding: 1em'}
  %thead
    %th Receipt Code
    %th #{Time.now.to_i.to_s(16)}
  %tbody
    %tr
      %td Bundle Name
      %td #{@bundle.name}
    %tr
      %td Bundle Description
      %td #{@bundle.descr}
    %tr
      %td Amount Paid
      %td UGX #{number_with_delimiter(@bundle.amount)}
    %tr
      %td Time
      %td #{Time.now.strftime('%H:%M %d %B, %Y')}
    %tr
      %td Paying Account
      %td #{session[:phonenumber]}
  %tfoot
    %td{:colspan => 2}
      %h2 Thank you.

%a{:href => 'javascript:window.print();'} Print Receipt
&bull;
%a{:href => '/'} Back Home
