$dark_base: #000;
$number_font: "LintsecRegular";

body, table
{
  font-family: "ExistenceLight", "BonvenoCFLight";
  font-size: 15pt;
}

#header
{
  margin-bottom: 5%;
  margin-top: 2%;
}

#logoface
{
  font-size: 200%;
  text-align: right;
}

#tagline
{
  vertical-align: center;
}

#trunk
{
  margin-bottom: 5%;
  text-align: center;
  font-size: 50%;

  table
  {
    font-size: inherit;
  }
}

#footer
{
  text-align: center;
  font-size: 50%;
}

fieldset
{
  border: 1px solid lighten($dark_base, 75%);
  border-radius: 9px 9px 9px 9px;

  legend
  {
    border: inherit; 
    border-radius: inherit;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: none;
  }
}

.texter
{
  width: 100%;
  border: inherit; 
  border-radius: inherit;
  padding-left: 5px;
  padding-right: 5px;
  font-family: $number_font;
}

.littleheader
{
  font-weight: bold;
  font-size: 150%;
}

.bundledescr
{

}

.bundlecost
{
  font-family: $number_font;
}

.bundlename
{
  font-weight: bold;
}

.numberer
{
  letter-spacing: 0.25em;
}
