!!!
%html
  %head
    %title ISP Self-Service
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #main{:class => 'container'}
      #header{:class => 'span-24'}
        #logoface{:class => 'span-8'}
          ISP Self-Service
        #tagline{:class => 'span-16 last'}
          Internet credit top-up with mobile money.
      #trunk{:class => 'span-24'}
        #menulist{:class => 'span-4 prepend-4'}
          .littleheader One-Click Internet Credit Shopping
          Enter your phone number and PIN,
          choose the bundle you want to buy,
          and pay with your mobile money account.
          - if session[:phonenumber] then
            .littleheader
              Welcome back,
              = succeed '.' do
                %strong #{session[:phonenumber]}
            %table
              %thead
                %th Bundle
                %th When Bought
              %tbody
                - @shoppings.each do |shopping|
                  %tr
                    %td #{Bundle.find_by_id(shopping.bundle_id).name}
                    %td #{time_ago_in_words(shopping.created_at)} ago
        #tableau{:class => 'span-12 prepend-2 append-2 last'}
          = yield
      #footer{:class => 'span-24'}
        &copy; 2012,
        = succeed '.' do
          %a{:href => 'http://1st.ug/'} Scyfy Technologies
        All Rights Reserved.
